<?php if(Session::get('login')):?>
<div class="container">
    <div class="row">
        <div class="data-table-container">
            <h1> Event: <?=$data[0]['name']?></h1>
            <form action="" method="post">
                <label> Price: <input type="text" name="price" value="<?=$data[0]['price']?>"></label>
                <label> Quantity: <input type="text" name="quantity" value="<?=$data[0]['quantity']?>"></label>
                <label> disscount: <input type="text" name="disscount" value="<?=$data[0]['disscount']?>"></label>
                <input type="hidden" name="event_id" value="<?=$data[0]['event_id']?>">
                <input type="hidden" name="old_price" value="<?=$data[0]['price']?>">
                <input type="submit" value="Save" class="btn btn-success">
            </form>
        </div>
    </div>
</div>
<?php endif;?>
